force-app/main/default/flows/Screen_List_View_Create_Enrolments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Enrolment_to_Collection</name>
        <label>Add Enrolment to Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>enrolmentRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>enrolmentRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Erolment</name>
        <label>Assign Erolment</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>enrolmentRecordSingle.eCASS02t1__Young_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Enrolment_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Screen List View Create Enrolments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen List View Create Enrolments</label>
    <loops>
        <name>Loop_Contact_ids</name>
        <label>Loop Contact ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Erolment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createEnrolments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEnrolments</name>
        <label>createEnrolments</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <faultConnector>
            <targetReference>faultScreen</targetReference>
        </faultConnector>
        <inputReference>enrolmentRecordCollection</inputReference>
    </recordCreates>
    <screens>
        <name>faultScreen</name>
        <label>faultScreen</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayErrorText</name>
            <fieldText>&lt;p&gt;An error has occurred when trying to create the Enrolment records. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Contact_ids</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>enrolmentRecordSingle.eCASS02t1__Program_Service__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>enrolmentRecordSingle.eCASS02t1__Status_on_Programme__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>enrolmentRecordSingle.eCASS02t1__Date_joined_program__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Enrol</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>enrolmentRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eCASS02t1__Enrolment__c</objectType>
    </variables>
    <variables>
        <name>enrolmentRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>eCASS02t1__Enrolment__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
